.col-md-6
  .row
    .col-md-1
      %h1.small ID
    .col-md-1
      %h1.small  Title
    .col-md-1
      %h1.small  Text
    .col-md-1
      %h1.small  Status
    .col-md-1
      %h1.small  Edit
    .col-md-1
      %h1.small  Delete