.container
  .row
    .col-md-4
      %a{"data-background-color" => "#990000", :href => "#"} Paint it red
      %a{"data-background-color"=>"#009900", "data-text-color"=>"red", href:"#"} red text
  .row
    =form_for @toDo ,remote:true do |f|
      =f.label :title
      =f.text_field :title

      =f.label :text
      =f.text_field :text
      =f.submit "Add my to do list", class: "btn btn-primary add_to_do"

  .row
    =render 'show_title'
    =render 'show_title'
    .col-md-6.toDoTrueClass
      - @toDoTrue.each do |todo|
        =render 'show_list',toDo: todo
    .col-md-6.toDoFalseClass
      - @toDoFalse.each do |todo|
        =render 'show_list',toDo: todo
  #edit-form{"title"=>"Edit"}
    %form
      .form-group
        %label{for:"title-input"} title
        %input{id:"title-input",class:"form-control"}
        %label{for:"text-input"} text
        %input{id:"text-input",class:"form-control"}